<div class="container secreen-center">
  <div class="row text-center">
    <div class="m-auto col-sm-12 col-md-9 col-lg-6 col-xl-6">
      <form></form>
      <mat-card class="shadow-lg">
        <mat-card-header class="text-center mat-card-header-without-text">
          <div class="m-auto">
            <img src="assets/logo.png" alt="">
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="row text-center">
            <div class="col-10 m-auto">
              <div class="row mb-2">
                <!-- username field -->
                <mat-form-field appearance="outline" class=" col-12">
                  <mat-label>{{ 'SignUp.UserName.Label' | translate }}</mat-label>
                  <input matInput required>
                  <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
                  <mat-hint>{{ 'SignUp.UserName.Hint' | translate}}</mat-hint>
                </mat-form-field>
              </div>
              <div class="row mb-2">
                <!-- email field -->
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>{{'SignUp.Email.Label' | translate}}</mat-label>
                  <input matInput placeholder="someone@example.com" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
                  <mat-hint>
                    {{ 'SignUp.Email.Hint' | translate }}
                  </mat-hint>
                </mat-form-field>
              </div>

              <div class="row mb-2">
                <!-- password field -->
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>
                    {{'SignUp.Password.Label' | translate}}
                  </mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" required>
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>
                      {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                  </button>
                  <mat-hint>
                    {{ 'SignUp.Password.Hint' | translate}}
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="row">
            <div class="col-12 text-center">
              <div class="m-auto">
                <button mat-flat-button color="primary">{{ 'SignUp.SignUp' | translate }}</button>
                <button mat-flat-button color="warn">{{ 'SignUp.SignUp' | translate }}</button>
              </div>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <mat-form-field>
      <mat-select [(value)]="selected">
        <mat-option value="en" selected>English</mat-option>
        <mat-option value="ar">العربية</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</div> 