<!-- <div>
  <button mat-stroked-button [routerLink]="['/']" color="primary">protected</button>
  <button mat-stroked-button [routerLink]="['/auth']" color="accent">unprotected</button>
  <button mat-stroked-button [routerLink]="['/ac']" color="accent">invalid url</button>
  <button mat-stroked-button [routerLink]="['/account']" color="accent">account</button>
  <button mat-stroked-button (click)="authService.SignOutAsync()" color="warn">signout</button>
</div> -->

<div *ngIf="(vm$ | async) as vm" dir="vm.ActiveLang.dir">
  <router-outlet></router-outlet>
</div>

<!-- <div>
  {{ 'SIGNUP' | translate }}
</div> -->